<div class="footer">
    <div class="grid-container">
        <div class="grid-item">
            <a href="https://github.com/0Phonlakit"> <i class="fa-brands fa-github fa-3x fa-flip" style="--fa-animation-duration: 3s ; color: #FCF5ED;" > </i> </a>
        </div>
        <div class="grid-item">
            <a href="https://www.instagram.com/plk_few/"> <i class="fa-brands fa-instagram fa-3x fa-flip" style="--fa-animation-duration: 4s ; color: #FCF5ED"> </i> </a>
        </div>
        <div class="grid-item">
            <a href="mailto:phonlakit.leel@mail.kmutt.ac.th"> <i class="fa-solid fa-envelope fa-3x fa-flip" style="--fa-animation-duration: 5s; color: #FCF5ED"> </i> </a>
        </div>
    </div>
    <p> Copyright © <%= new Date().getFullYear() %> </p>
</div>
</body>
</html>