<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a1a0aee510.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Books Shelf</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">Book Shelf</a>
        </div>
        <ul>
            <li>
                <a class="sort">Sort <span class="arrow">▼</span></a>
                    <ul class="drop-down ">
                        <li><a href="/recent">by Recent</a></li>
                        <li><a href="/rating">by Rating</a></li>
                    </ul>
            </li>
            <li><a href="/mauny">Add Books</a></li>
    </nav>